html,
body {
    margin: 0;
}

body {
    font-family: 'roboto';
    background: linear-gradient(159deg, rgba(2, 155, 228, 0.70) 5.06%, rgba(2, 118, 215, 0.70) 38.08%, rgba(2, 79, 201, 0.70) 66.46%, rgba(2, 28, 183, 0.70)100%);
}

.gas {
    margin-top: 7rem;
}

.trozoB {
    color: rgb(241, 239, 239);
    margin: 0 2rem 0 2rem;
}

.tituloGas {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/cielo2.jpg);
    background-position: center;
    background-size: cover;
}

.causas,
.efectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.causas>div,
.efectos>div {
    flex: 1;
    padding: 0 1rem 0 1rem;
    min-width: 15rem;
    max-width: 30rem;
    text-align: justify;
}

.efectos>div {
    text-align: center;
}

.efectos>div>img {
    width: 45%;
    filter: invert();
    background-color: rgba(253, 227, 72, 0.70);
    padding: 2rem;
    border-radius: 4rem 2rem 4rem 2rem;
}


.valoresLimites {
    background-color: white;
    padding: .5rem 2rem .5rem 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.textoPPM {
    flex: 6;
    min-width: 20rem;
}

.valorPPM {
    flex: 4;
    font-size: 5rem;
    text-align: center;
}

.valorPPM>p {
    margin: 0 0 0 1rem;
    color: rgba(2, 155, 228, 0.70);
}


.consejos {
    display: flex;
    flex-wrap: wrap;
}

.consejosTexto {
    min-width: 25rem;
    flex: 5;
}

.consejosFoto {
    text-align: center;
    flex: 5;
}

.consejosTexto>div {
    display: flex;
    align-items: center;
}

.consejosTexto>div>img {
    padding: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: aliceblue;
}

.consejosFoto>img {
    min-width: 20rem;
    max-width: 20rem;
}

/* TITULOS */

h1 {
    text-align: center;
    color: #fff;
    margin-top: 7rem;
}

/* TABLAS */

.tabla {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabla>div {
    padding: 2rem 0 4rem 0;
    background-color: #ffffff;
    border-radius: 2rem;
    width: fit-content;
    width: 80%;
    max-width: 90rem;

}

table {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    border-right: 2px solid black;
    height: 3.5rem;
}

td:last-child,
th:last-child {
    border-right: 0;
}

tr:nth-child(even) {
    background-color: #dce1f7;
}

/* BOTONES */

button {
    border-radius: .5rem;
    cursor: pointer;
}

.boton {
    padding: .8rem 1.5rem .8rem 1.5rem;
    margin: 0 1rem;
}

table button {
    width: 4rem;
    height: 2rem;
    margin: 2px;
}

button:hover{
    background-color: #dce1f7;
    color: black;
}

.borrar {
    background-color: rgb(221, 57, 57);
    color: white;
}

.editar {
    background-color: rgba(2, 28, 183, 0.70);
    color: white;
}


.botones{
    display: flex;
    justify-content: center;
    margin: 3rem;

}

header {
    z-index: 3;
    background-color: aliceblue;
    position: fixed;
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
}

.logo {
    height: 100%;
}



.menu {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.menu a {
    text-decoration: none;
    color: white;
}

.item-menu {
    text-decoration: none;
    list-style: none;
    background-color: rgba(2, 28, 183, 0.70);
    padding: 2rem;
    text-transform: uppercase;
}

.item-menu:hover {
    background-color: rgba(2, 155, 228, 0.70);
    color: black;
}

.contenido {
    margin: 7.2rem 4rem;
    
}

.contenido>div {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.contenido label {
    color: white;
    margin: 1rem 0;
    font-weight: 800;
    font-size: large;
}

.contenido input {
    border: 0;
    border-bottom: 1px white solid;
    background-color: transparent;
    color: white
}

#myInput {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }



  /* The container must be positioned relative: */
    .custom-select {
    position: relative;
    font-family: Arial;
    }

    .custom-select select {
    /*hide original SELECT element: */
    }

    .select-selected {
    background-color: DodgerBlue;
    }

    /* Style the arrow inside the select element: */
    .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    }

    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
    }

    /* style the items (options), including the selected item: */
    .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    }

    /* Style items (options): */
    .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    }

    /* Hide the items when the select box is closed: */
    .select-hide {
    display: none;
    }

    .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    }
  