:root{
    color: #bab3b7;
    color: #686868;
    --details: #67cfff;
    --details2:#F9F6EE;
    --colorHoverd1: #8ce4fa;
    --complementary: #F9F6EE;
    --headerBackgroundColor: #F9F6EE;
    --backgroundColor: #F9F6EE;
    --blackOpacityreduced: rgba(248, 245, 236, 0.85);
    --featuresBackground: #F9F6EE;
    --headerFontColor: #0a0f29;
    --slideFontColor: rgba(0, 0, 0, 0.85);
    
    color: #03C2F1;
    color: #039ce3;
    color: #0276D7;
    color: #024FC9;
    color: #021CB7;
    color: #ffffff;
}


img{
    max-width: 100%;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--backgroundColor);
}


.header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--headerBackgroundColor);
    color: var(--headerFontColor);
}

h1{
    font-family: Roboto;
    font-size: 4vw;

}
h2{
    font-family: Roboto;
    font-size: 3vw;
    
}
h3{
    font-weight: 100;
    font-family: Roboto;
    font-size: 1.3vw;
}
h4{
    font-family: Roboto;
}
a{
    font-family: Roboto;
}

p {
    font-family: Roboto;
    font-size: 1vw;
}

i{
    font-family: Roboto;
    font-size: 3vh;
}

u{
    font-family: Roboto;
    font-size: 3vh;
}

small{
    font-family: "TypoFormal", Arial;
}

button{
   padding: 0%;
}

textarea{
    font-family: Roboto;
    font-size: 1vw;
}

input{
    font-family: Roboto;
    font-size: 1vw;
}

.allContent{
    padding: 16px;  
}


.transition{
    transition: all 0.5s;
}

/*/////////////////////////////////////////////////////////////////*/
/*//////////////////////////////ICONS//////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/


.iconBtn{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0%;
}

#menuBtn{
    padding: 0%;
}

.menu-icon{
    width: 48px;
    height: 48px;
}

.OzoneWardenLogo{
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
}
.logoBox{
    max-height:50%; 
    max-width:50%;
    object-fit: contain;
    display: flex;
    justify-content: left;
    align-items: center;
}
/*/////////////////////////////////////////////////////////////////*/
/*///////////////////////////ICONS END/////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/





/*/////////////////////////////////////////////////////////////////*/
/*//////////////////////////////MENU///////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/
 .logo-nav-bar{

    display:flex;
    padding: 20px;
    z-index: 4;
    color: black;
    /* width: 100%;
    height: 100px; */
    position: relative;
    justify-content: left;
    align-items: center;
}


.general-nav-bar {
    background-color: var(--headerBackgroundColor);
    display: flex;
    justify-content: space-between;
    margin-left: 28px;
}
.nav-bar {
    
    padding: 20px;
    display: block;
    color: red;
    width: 100%;
    font-size: 1.5em;
    position: relative;
}


.menu, .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {  
    width: 100%;
    /*margin-top: -145%;*/
}

.link-menu {
    display: block;
    padding: 22px;
    color: var(--headerFontColor);
    font-size: 1.2em;
    text-decoration: none;
}


.hover .link-menu:hover {
    background: var(--colorHoverd1);
}

.dissapear{
    display: none;
}

.item-menu{
    cursor: pointer;
    justify-content: center;
    align-items: center;
}



/*/////////////////////////////////////////////////////////////////*/
/*///////////////////////////MENU END//////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/



/*/////////////////////////////////////////////////////////////////*/
/*///////////////////////HEADER RESPONSIVE/////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/
/* @media (min-width: 1200px) {
    .nav-bar {
        display: flex;
    }
}

@media (max-width: 1200px) {
    .nav-bar {
        display: none;
    }
} */


@media (max-width: 1024px) {
    .nav-bar {
        display: flex;
        justify-content: right;
    }
    .main-nav {
        display: none;
        width: 100%;
        position: absolute;
        background-color: var(--complementary);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .general-nav-bar{
        display:flex;
        justify-content: space-between;
    }

    .show{
        display: block;
    }
}


@media (min-width: 1024px) {

    header{
        display: flex;
        justify-content:space-around;
    }

    .main-nav {
        margin: auto;
        margin-right: 28px;
        display: block;
        justify-content: center;
        align-items: center;
    }


    #menuBtn {
        display: none;
    }

    .menu {
        margin-top: 0;
        display: flex;
        justify-content: right;
        transition: none;
    }

    .link-menu {
        color: var(--headerFontColor);
        font-size: 1em;
        border-radius: 25px;
        margin-top: 22px;
        margin-bottom: 22px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        transition: all 500ms;
    }

    /*.link-menu:hover {
        color: var(--colorHoverd1);
    }*/

    .item-menu{
        border-radius: 25px;
    }

}

/*/////////////////////////////////////////////////////////////////*/
/*/////////////////////HEADER RESPONSIVE END///////////////////////*/
/*/////////////////////////////////////////////////////////////////*/

.extra-small-icon, .small-icon, .medium-icon, .large-icon, .extra-large-icon {
    list-style: none;
    padding: 0;
}

#steamlink {
    position: fixed;
    display: block;
    top: 20%;
    right: 0;
    width: auto;
    height: auto;
    border: 0 solid;
    z-index: 1000;
    padding: 1%;
    background-color: var(--details);
    text-decoration: none;
    color: white;
    font-family: Roboto;    
    font-display: center;
    justify-content: center;
    align-content: center;
}

#steamlink div{
    color: white;
    text-decoration: none;;
    align-items: center;
}

#steamlink div:hover{
    color: white;
    text-decoration: none;
}
.section-s{
    /*padding-top: 4%;
    padding-bottom: 4%;*/
    
    height:max-content;

    display: flex; 
    justify-content:space-arround;
    
}

.image1 {
    background-image: url(../images/UprisingShot.png);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    padding-right: 60%;
    background-repeat: no-repeat;
    transition: all 500ms;
}

.image2 {
    background-image: url(../images/IntroImage.png);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    padding-right: 60%;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
}

.explanation{
    color: rgb(0, 0, 0);
    margin: 2%;
    height:max-content;
}


.video{
    width: 100%;
    /*padding: 0 10% 0 10%;*/
}

.container-video{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: var(--details);
    width: 200%;
    height: auto;
}
.container-video h1{
    margin: 0% 3% 0% 3%;
}

#section-video{
    display: flex;
    justify-content: center;
    flex-flow: row;
}

@media (max-width: 1024px) {
    #section-video{
        display: flex;
        justify-content: center;
        flex-flow: column;
        order: 2;
    }

    .container-video{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
        color: var(--details);
        width: auto;
        height: auto;
        order: 1;
    }

    #section-video .container.explanation{
        width: auto;
        height: fit-content;
        
    }

    
}

.player-background{
    margin: 0;
    flex: 1 1 auto;
    height: auto;
    background-image: url(../images/PLAYER.png);
    background-size: cover;
    background-position: 50% 10%;
    background-blend-mode:hard-light;
 
}

#video-city{
    position:static;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}


/*/////////////////////////////////////////////////////////////////*/
/*////////////////////////WEBSITE CONTENT//////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/
.content{
    height: 90vh;
    background-color: rgba(0,0,0,0);
}


.slide{
    text-align: center;
    background-image: url(../images/acerca-de.jpeg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
    width: 100%;
    height: 100%;
    
    position: relative;
    color: var(--slideFontColor);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.slide div{
    margin: 3%;
}

.div-1{
    flex: 100%; 
    order: 1;
}
  
.div-2, .div-3  {
    flex: 1 1 0;
    order: 2;   
}

.div-3{
    display: flex;
    justify-content: end;
    align-items:end;
    list-style: none;
    
}
.inside-div-3{
    margin: 0;
}

.div-3 ul{
    width: 100%;
    margin: 0px;
}

.div-3 li{
    display: inline;
    margin: 0 12px;
    height: 100%;
}

.div-2{
    display: flex;
    align-items:end
}

.svg-path-rotated{
    position: absolute;
    align-self: start;
    transform: rotate(180deg);
}

.GameplayContentGardient{
    background: url(https://cdn.cloudflare.steamstatic.com/steam/apps/2388250/ss_e1c050c2585d5b6021df8a44075350b6d98d1763.600x338.jpg?t=1683376166);
    color: #000000;
    height: 95vh;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: space-around;
    justify-content: bottom;
    display: flex;
    background-size:cover;
    background-position: bottom;
}

.OverlayGardient{
    background: linear-gradient( to bottom, black 1%, red 90%);
    position: absolute;
}

/*/////////////////////////////////////////////////////////////////*/
/*/////////////////////////////FOOTER//////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/





footer{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.footer{
    width: 100%;
    background-color: var(--headerBackgroundColor);
    box-shadow:  -8px -8px 14px #cecece;
}
.footer img{
    width: 260px
}
.footer .footer-group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer .footer-group-1 .footer-box h2{
    max-width: 100%;
    color: black;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.2em;
    margin-right: 18px;
}

.footer .footer-group-1 .footer-box {
    display: flex;
    justify-content: center;
}

.footer .footer-group-1 .footer-box .footer-list{
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
}

.footer .footer-group-1 .footer-box .footer-list .item-footer-list{
    display: flex;
    justify-content: center;
    margin-right: 18px;
    align-items: center;
}

.footer .footer-group-1 .footer-box .footer-list .item-footer-list a{
    text-align: end;
    font-family: "Romanica", sans-serif;
    color: white;
    margin: 1em 0;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: all 500ms;
}

.footer .footer-group-1 .footer-box .footer-list .item-footer-list a:hover{
    color: #686868;
    margin-bottom: 1em;
    text-decoration: none;
    background-color: #FFFFFF;

} 

.footer .footer-group-1 .footer-box.footer-logo .footer-list .item-footer-list a:hover{
    color: #686868;
    margin-bottom: 1em;
    text-decoration: none;
    background-color: transparent;
} 

.footer .footer-group-2 {
    background-color: var(--details);
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.footer .footer-group-2 small{
    font-size: 0.8em;
}

/*/////////////////////////////////////////////////////////////////*/
/*///////////////////////////FOOTER END////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/


/*FEATURES*/
main.features-container{
    /*margin: 28px 28px;*/
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    background-color: var(--backgroundColor);
}
/* .features-container img{
    margin: 15px auto;
    width: 50%;
    border-radius: 25px;
    box-shadow:  11px 11px 40px var(--details),
    -11px -11px 40px var(--details);
} */
.features-container img{
    height: auto;
    width: auto;
}

.features-container h3{
    /*width: 50%;
    border-radius: 25px;*/
    display: flex;
    justify-content: center;
    color: var(--featuresBackground);
    font-family: Roboto;

}
.features-container h2{
    display: flex;
    /*justify-content: center;*/
    margin-bottom: 0;
    font-size: 4vw;
    color: var(--featuresBackground);
    font-family: Roboto;
    color: var(--details)
    
}
.features-container p {
    margin-top: 0;
    font-family: "Romanica", sans-serif;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
}

.box-container-features{
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: auto;

    /*margin: 5%;*/
    /*border-radius: 25px;
    box-shadow:  11px 11px 40px var(--details),
    -11px -11px 40px var(--details);
    margin-bottom: .1%;
    margin-top: .1%;*/
}

.box-container-features-text{
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: auto;
    padding: 5%;
}

.box-container-features-image1{
    background: url(../images/IntroImage.png);
    background-size: cover;
}

.box-includes-box-features{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}
@media (max-width: 572px) {
    .box-includes-box-features{
        grid-template-columns: repeat(1, 1fr);
    }
    #feature-video1{
        order: 1
    }
    #feature-explanation1{
        order: 2
    }
    #feature-video2{
        order: 3
    }
    #feature-explanation2{
        order: 4
    }
    #feature-video3{
        order: 5
    }
    #feature-explanation3{
        order: 6
    }
}

.container-features{
    width: 100%;
}

.special-name{
    font-family: Roboto;
    color: var(--details);
}

.to-right{
    justify-content: right;
}

.to-left{
    justify-content: left;
}


.float-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 32%;
    height: 80%;
    background-color: var(--blackOpacityreduced);
    margin: 0;
    padding: 5%;
}

.separator{
    height: 5vh;
    display: flex;
    flex-direction: column;
}

.edit-for-image-div{
    height: 70vh;
}

@media (max-width: 750px) {
    .float-div{
        display:flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width:100%;
        height: fit-content;
        background-color: var(--blackOpacityreduced);
        margin: 0;
        padding: 5%;
    }

    .separator{
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .edit-for-image-div{
        height: 30vh;
    }
}

@media (max-width: 1024px) {
    h2{
        font-size: 4vw;
    }
    h3{
        font-size: 2vw;
    }
}

@media (max-width: 750px) {
    h3{
        font-size: 120%;
    }
    h2{
        font-size: 200%;
    }
}


.flex-style{
    display: flex;
    justify-content: center;
    margin: 0;
}




/*Contact*/

.contact-container{
    width: 100%;
    /*height: 100vh;*/
    /*background-color: var(--backgroundColor);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: var(--details);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h1{
    color: var(--featuresBackground);
    font-weight: 800;
    margin-bottom:20px
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline:none;
    background-color: var(--featuresBackground);
    font-size: 16px;
}

form button{
    padding: 15px;
    background: var(--details2);
    color: var(--featuresBackground);
    font-size: 18px;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 15px;
    border: none;
}



.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 20px 0 20px;

}

.game-container .heading{
    width: 50%;
    padding-bottom: 50px;
}

.game-container .heading h2{
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid white;
    color: black;
    padding-bottom: 10px;
}

.game-container .heading h2 span{
    font-weight: 1;
    color: black;
}

.game-container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.game-container .box .game-images{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.game-container .box .game-images img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px; /*esto no claro*/
}

@media only screen and (max-width: 769px){
    .game-container .box{
        flex-direction: column;
    }

    .game-container .box .game-images{
        width: 100%;
    }
}

@media only screen and (max-width: 643px){
    .game-container .heading{
        width: 100%;
    }
    
    .game-container .heading h2{
        font-size: 2em;
    }
}



/*Boton bonito*/

.btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /*background: #40B3A2;*/
    background: #039ce3;
    min-width: 250px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: .95;
  }
  
  .btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }



  #myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }


    /*FLECHA*/

    .div.arrow {
        width: 6vmin;
        height: 6vmin;
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: rotate(135deg);
        
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            border-width: .8vmin .8vmin 0 0;
            border-style: solid;
            border-color: #fafafa;
            transition: .2s ease;
            display: block;
            transform-origin: 100% 0;
        }
    
        
        &:after {
            content: '';
            float: left;
            position: relative;
            top: -100%;
            width: 100%;
            height: 100%;
            border-width: 0 .8vmin 0 0;
            border-style: solid;
            border-color: #fafafa;
            transform-origin: 100% 0;
            transition:.2s ease;
        }
        
        &:hover::after {
            transform: rotate(45deg);
            border-color: orange;
            height: 120%;
        }
        &:hover::before {
            border-color: orange;
            transform: scale(.8);
            
        }
        
    }

  